[submodule "vim/pack/packages/start/vim-airline"]
	path = vim/pack/packages/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/pack/packages/start/oceanic-next"]
	path = vim/pack/packages/start/oceanic-next
	url = https://github.com/mhartington/oceanic-next
[submodule "vim/pack/packages/start/vim-commentary"]
	path = vim/pack/packages/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/pack/packages/start/vim-surround"]
	path = vim/pack/packages/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/packages/start/fzf.vim"]
	path = vim/pack/packages/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
