[submodule "vim/pack/packages/start/vim-airline"]
	path = vim/pack/packages/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/pack/packages/start/oceanic-next"]
	path = vim/pack/packages/start/oceanic-next
	url = https://github.com/mhartington/oceanic-next
[submodule "vim/pack/packages/start/vim-commentary"]
	path = vim/pack/packages/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
