[submodule "vim/pack/packages/start/vim-airline"]
	path = vim/pack/packages/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vim/pack/packages/start/oceanic-next"]
	path = vim/pack/packages/start/oceanic-next
	url = https://github.com/mhartington/oceanic-next
[submodule "vim/pack/packages/start/vim-gitgutter"]
	path = vim/pack/packages/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim/pack/packages/start/vim-surround"]
	path = vim/pack/packages/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/packages/start/vim-commentary"]
	path = vim/pack/packages/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "/Users/kwight/.dotfiles/vim/pack/packages/start/vim-jsx"]
	path = /Users/kwight/.dotfiles/vim/pack/packages/start/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "/Users/kwight/.dotfiles/vim/pack/packages/start/yajs.vim"]
	path = /Users/kwight/.dotfiles/vim/pack/packages/start/yajs.vim
	url = https://github.com/othree/yajs.vim
[submodule "/Users/kwight/.dotfiles/vim/pack/packages/start/vim-json"]
	path = /Users/kwight/.dotfiles/vim/pack/packages/start/vim-json
	url = https://github.com/elzr/vim-json
[submodule "/Users/kwight/.dotfiles/vim/pack/packages/start/emmet-vim"]
	path = /Users/kwight/.dotfiles/vim/pack/packages/start/emmet-vim
	url = https://github.com/mattn/emmet-vim
